body {
    font-family: Arial, sans-serif;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Login Box */
.login-box {
    background: #fff;
    width: 275px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;   /* ✅ Increased height */
    border-radius: 1px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    text-align: center;
}


.logo {
    width: 200px;
    margin-bottom: 1px;
}

input {
    width: 92%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin: 0px 1px ;
    margin-top: 10px;
    background: #42b72a;
    color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
   background: #42b72a;
}

.error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 15px;
}

.portal-link {
    margin-top: 10px;
    display: block;
    font-size: 0.9rem;
    color: #0066ff;
    text-decoration: none;
}
